/vendor/
wordpress/
composer.lock
node_modules/
!public/vendor/
/assets/admin/css/admin-app.css
/assets/admin/js/admin-app.js
______clients_____off
______clients_____off/
vendor/
admin-react/src/routes/features/settings/settings.zip